<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Zen-hack</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" href="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="page-header" style="margin:0 0 20px;">
        <img src="/images/pc/logo.png">
        <img src="/images/pc/search.png" style="margin-left: 30px;">
        <span style="float:right;font-weight:bold;margin:20px 15px 15px 15px;font-size:16px;">login</span>
      </div>

      <div class="content">
        <h1 class="title" style="margin: 40px 0;">由比ヶ浜を綺麗にして、ビーチパラソルを立てたい！</h1>
        <div style="text-align:center;margin:10px;">
          <img src="/images/shasin7.jpg" style="border-radius:60px;width:60px;">
          <p style="margin-bottom: 24px;"><span>projected by<br><strong><a href="">由比ヶ浜ビーチFM</a></strong></span></p>
          <div style="display:block;">
            <div style="position:relative; width: 60%; margin: 0 auto;">
              <img src="/images/beach.jpg" width="100%" style="border-radius:10px; max-height:500px;">
              <div style="position:absolute; bottom:0px; font-size:62px;color:white; width: 100%; background-color: rgba(135, 206, 235, 0.69);">
                <p style="margin:10px 30px 10px 0; float:right;"><strong id="count"><%= count %></strong> / 1000</p>
              </div>
            </div>
          </div>
        </div>
         <section class="content-left">
          <p>
            <img src="/images/pc/about.png">
            <span style="font-weight:bold;font-size:18px;margin-left:5px;vertical-align:middle;">このプロジェクトについて</span>
          </p>
          <div style="background-color:white;padding:15px 20px;border-radius:10px;">
            <h3 style="margin-top:10px;margin-bottom:20px;">由比ヶ浜を綺麗にして、もっと楽しめるビーチに。</h3>
            <p style="line-height:1.8;">
              <br>
              由比ヶ浜は毎年、多くのお客さんで賑わいますが、その一方でビーチへのゴミの問題も深刻になってきています。
            </p>
            <p style="line-height:1.8;">
              このプロジェクトを通じて由比ヶ浜のゴミ問題への解決、そしてそのゴミを利用してビーチパラソルを増やしたいと考えています。
            </p>
            <p style="line-height:1.8;">
              地域のみんなで目標達成したいと思っています。<br>
              応援をどうぞよろしくお願いします。
            </p>
          </div>
        </section>
        <section class="sidebar">
          <p>
            <img src="/images/pc/people.png">
            <span style="font-weight:bold;font-size:18px;vertical-align:middle;">サポーター</span>
            <span style="margin-left:100px;font-weight:bold;font-size:16px;vertical-align:middle; float:right; margin-right: 70px;">1200</span>
          </p>
          <div style="padding:15px 0;margin-right:65px;">
            <img src="/images/ito.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin2.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin3.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin4.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin5.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin8.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin9.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/takashi.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/ito.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin2.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin3.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin4.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin5.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin8.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin9.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/takashi.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/ito.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin2.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin3.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin4.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin5.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin8.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/shasin9.jpg" width="50px;" style="border:1px solid #B9BABD;">
            <img src="/images/takashi.jpg" width="50px;" style="border:1px solid #B9BABD;">


          </div>
        </section>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var count = document.getElementById('count');
      var socket = io('http://localhost:3000');
      socket.on('connect', function(){
        socket.on('count', function(data){
          console.log(count);
          count.innerText = +data + 612;
        });
        socket.on('disconnect', function(){});
      });
    </script>
  </body>
</html>

